* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "PT Sans", sans-serif; 
    font-size: 100%;
}

img {
    max-width: 100%;
}

/* COMMON */
.container {
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.card {
    border-radius: 20px;
}

.btn {
  align-items: center;
  border: 0;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 35px;
  min-width: 0px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
}


/* VARIABLES */
:root {
    /* Palette */
    --primary-col: #0084FD;
    --primarylight-col: #b5ddff;
    --secondary-col: #9792e4;
    --secondarylight-col: #d5d4f4;
}
    
/* LAYOUT */
.container {
    width: 100%;
    padding: 0 1rem;
}

/* UTILITIES */
.margin1 {
    margin: 1em;
}

/* BG - CL PALLETTE */
.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: var(--primary-col);
}

.bg-purple {
    background-color: var(--secondary-col);
}

.cl-white {
    color: white;
}

.cl-black {
    color: black;
}

.cl-blue {
    color: var(--primary-col);
}

.cl-purple {
    color: var(--secondary-col);
}

.cl-gray {
    color: gray;
}
/* FONT */
.font-size1 {
    font-size: 1rem;
}

.font-size2 {
    font-size: 2rem;
}

.font-size3 {
    font-size: 3rem;
}

/* HEADER */
header {
    background-color: var(--primary-col);
    color: white;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .desktop-menu {
    display: none;
}

.desktop-menu li {
    display: flex;
    align-items: center;
}

/* /HEADER */


 
/* MAIN */
/* INFO */
#info {
    padding-top: 6rem;
}

/* CARDS */
#info .card {
    background-color: var(--primarylight-col);
    padding: 1.5rem;
    margin-bottom: 1em;
}


#info .icon-card {
   text-align: center;
   margin: 1em 0; 
}

#info .img-card {
    position: relative;
    top: 28px;
}

#info .text-card:not(:first-child) {
    text-align: center;
}

#info .text-card h3 {
    color: var(--primary-col);
    margin-bottom: 1em;
}

#info .text-card button {
    display: block;
    width: 200px;
    letter-spacing: 0.2em;
    margin: 1em 0;
}
/* /INFO */

/* PLANNING */
#planning {
    background-color: var(--secondary-col);
    margin-top: 4em;
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 4em;
}

#planning .text-card h1 {
    font-size: 2rem;
    margin: 2em 0;
}

#planning .text-card {
    margin-bottom: 2em;
}

#planning .card {
    border-radius: 70px;
    padding: 1rem;
}

#planning .card .text-card {
    text-align: center;
}

#planning h3 {
    margin: 1em 0;
}

#planning span {
    font-style: italic;
}

.btn-circle {
    border-radius: 50%;
    padding: 1rem;
    width: 50px;
    text-align: center;
    margin: 0 auto;
    background-color: var(--secondary-col);
}
/* /PLANNING */

/* TESTIMONIALS */
#testimonials {
    padding-bottom: 4em;
}

#testimonials .text-top {
    text-align: center;
    margin: 3em 0;
    padding: 2rem;
}

#testimonials .text-top h1 {
    color: var(--secondary-col);
    margin: 0.5em 0;
}

#testimonials .text-card {
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1em;
}

#testimonials .img-card {
    padding: 1em;
}

.profile-pic {
    min-width: 250px;
    min-height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

#testimonials h3 {
    margin-top: 1em;
    text-align: center;
}
/* /TESTIMONIALS */

/* BENEFITS */
#benefits {
    padding-bottom: 4em;
}

#benefits .card {
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
}

#benefits h1 {
    text-align: center;
    padding: 2em;
    font-size: 2rem;
}

#benefits h2 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

#benefits p {
    margin-top: 1em;
}

#benefits .btn {
    width: 120px;
    letter-spacing: 2px;
    margin-top: 2em;
    margin-bottom: 1em;
}
/* /BENEFITS */

/* /MAIN */


/* MEDIA QUERIES */
/* TABLET 768PX */
@media screen and (min-width: 768px) {
    /* MAIN */

    /* INFO SECTION */
    #info .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    #info .card {
        width: calc(100% / 3 - (1.5rem * 2 /3));
    }

    #info .card:first-child {
        width: calc(100% / 3 * 2 - 1.5rem / 3);
    }

    #info .img-card {
        max-width: 50%;
        position: relative;
        left: 0;
    }

    #info .text-card:first-child {
        text-align: start;
    }
    /* /INFO SECTION */

    /* TESTIMONIALS */
    #testimonials .card {
        display: flex;
        margin-bottom: 1em;
    }

    #testimonials .img-card {
        width: 40%;
    }

    #testimonials .text-card {
        width: 80%;
        font-size: 1rem;
        text-align: start;
        margin: auto 0;
    }
    
    #testimonials h3 {
        text-align: start;
    }
    /* /TESTIMONIALS */

    /* BENEFITS */
    #benefits .cards {
        display: flex;
        flex-wrap: wrap;
    }

    #benefits .card {
        width: calc(100% / 2 - 20px);
        margin: 10px auto;
    }
}

/* DESKTOP 992PX */
@media screen and (min-width: 992px) {
    /* LAYOUT */
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1000px;
    }

    /* HEADER */
    header .header-menu {
        display: none;
    }
    
    header .desktop-menu {
        display: block;
    }

    header ul {
        display: flex;
    }

    header li {
        margin-left: 1em;
    }

    header a {
        color: var(--white-txt);
    }
    /* /HEADER */

    /* MAIN */

    /* INFO */
    #info .card:first-child {
        display: flex;
    }

    #info .img-card {
        position: relative;
        top: 30px;
    }
    /* /INFO */

    /* PLANNING */
    #planning .container {
        display: flex;
        justify-content: center;
    }

    #planning .row-left {
        width: 50%;
        padding: 1rem;
    }

    #planning .img-card {
        margin-bottom: 2em;
    }

    #planning .row-right {
        width: 30%;
        margin-left: 2em;
        position: relative;
        top: 180px;
        bottom: 0;
    }
    /* /PLANNING */

    /* BENEFITS */
    #benefits .cards {
        display: flex;
        flex-wrap: wrap;
    }

    #benefits .card {
        width: calc(100% / 3 - 20px);
        margin: 10px auto;
    }
}